@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-ink
}

@layer base {
    main.standard {
        @apply min-h-screen;
        @apply mx-auto relative mt-24 px-4 max-w-3xl;
    }
}

@layer components {
    .hamburger-btn {
        display: block;
        position: relative;
        @apply h-14 w-14;

        >.hamburger-btn__line {
            display: block;
            position: absolute;
            height: 3px;
            width: 16px;
            @apply bg-ink;
            top: calc(50% - 1px);
            left: calc(50% - calc(16px / 2));
            @apply transition;

            &:nth-of-type(1) {
                transform: translateY(-4px);
            }

            &:nth-of-type(2) {
                transform: translateY(4px);
            }
        }

        &.active {
            >.hamburger-btn__line {
                &:nth-of-type(1) {
                    transform: translateY(0px) rotate(45deg);
                }

                &:nth-of-type(2) {
                    transform: translateY(0px) rotate(-45deg);
                }
            }
        }
    }

    .desktop-nav {
        @apply flex items-center;
        @apply font-outfit;
        @apply text-ink;
        font-size: 14px;
        text-transform: uppercase;

        ul {
            display: flex;
            column-gap: 1rem;

            li {
                a {
                    background: transparent;

                    svg {
                        display: none;
                    }
                }

                &:hover {
                    a {
                        background: url('/gradients/blue-pink.png');
                        background-size: 100%;
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        animation: gradientMove 2s ease infinite;
                        transition: 0.2s ease-out;

                    }
                }
            }
        }
    }

    .mobile-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: 10;
        background: white;
        @apply p-4 pt-16;
        @apply transition;
        pointer-events: none;
        opacity: 0;

        &.nav-open {
            pointer-events: auto;
            animation: navFadeIn 0.3s ease-in-out forwards;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background: url('/gradients/blue-pink.png');
            background-size: 400% 400%;
            opacity: 0.2;
            animation: gradientMove 5s ease infinite;
        }

        >ul {
            li {
                @apply my-3;
                opacity: 0;
                animation: navFadeIn 0.3s ease-in-out forwards;
                animation-delay: 0.2s;

                a {
                    @apply flex gap-x-1;
                    @apply text-body text-ink font-outfit;
                    @apply py-2;
                }
            }
        }

        >.social-nav {
            opacity: 0;
            animation: navFadeIn 0.3s ease-in-out forwards;
            animation-delay: 0.3s;
        }
    }

    @keyframes gradientMove {
        0% {
            background-position: 61% 0%
        }

        50% {
            background-position: 40% 80%
        }

        100% {
            background-position: 61% 0%
        }
    }

    @keyframes navFadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .project-card {
        display: block;
        position: relative;
        border: 2px solid black;
        border-radius: 8px;
        box-shadow: 0px 4px 4px #EFE3ED;
        background: white;
        transition: box-shadow 0.1s ease-out, border-color 0.4s ease-out;

        .hover-arrow {
            position: absolute;
            @apply top-4;
            @apply right-4;
            opacity: 0;
            transform: translateY(4px) rotate(45deg);
            transition: all 0.4s cubic-bezier(0, .71, .44, 1.4);
        }

        span:nth-of-type(2) {
            transition: all 0.4s cubic-bezier(0, .71, .44, 1.4);
        }

        &:hover {
            border-color: #E16CBE !important;
            box-shadow: 0px 0px 0px #EFE3ED;

            span:first-of-type {
                background: url('/gradients/blue-pink.png');
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                color: transparent;
                animation: gradientMove 2s ease infinite;
                transition: all 0.4s ease-out;
            }

            span:nth-of-type(2) {
                opacity: 0;
                transform: translateY(4px);
            }

            .hover-arrow {
                opacity: 1;
                transform: translateY(0px) rotate(0deg);

                path {
                    transition: all 0.4s ease-out;
                    stroke: #C85CE7;
                }
            }
        }
    }

    .project-prose {
        @apply text-ink;

        h1 {
            @apply text-h1 font-outfit mb-1
        }

        h2 {
            @apply text-h2 font-outfit mb-4
        }

        p {
            @apply text-body mb-8
        }
    }

    .quick-link {
        h2 {
            background: transparent;

            svg {
                transition: all 0.4s ease-out;
                @apply text-ink
            }
        }

        .hover-arrow {
            opacity: 0;
            transform: translateY(4px) rotate(45deg);
            transition: all 0.4s cubic-bezier(0, .71, .44, 1.4);
        }

        &:hover {
            h2 {
                background: url('/gradients/blue-pink.png');
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
                color: transparent;
                animation: gradientMove 2s ease infinite;
                transition: all 0.4s ease-out;

                svg {
                    color: #E16CBE;
                }
            }

            .hover-arrow {
                opacity: 1;
                transform: translateY(0px) rotate(0deg);

                path {
                    transition: all 0.4s ease-out;
                    stroke: #C85CE7;
                }
            }
        }
    }

}

@layer utilities {
    .height-full {
        background: yellow;
        height: 70vh;
    }

    @keyframes shadowMove {
        0% {
            transform: translate(0%, 0%);
            filter: hue-rotate(0deg);
        }

        25% {
            transform: translate(100%, 0%);
            filter: hue-rotate(90deg);
        }

        75% {
            transform: translate(-100%, 0%);
            filter: hue-rotate(270deg);
        }

        100% {
            transform: translate(0%, 0%);
            filter: hue-rotate(360deg);
        }
    }

    .card-shadow {
        box-shadow: 0px 4px 8px #EFE3ED;
        position: relative;

        // &::after {
        //     content: "";
        //     $size: 140px;
        //     position: absolute;
        //     height: $size;
        //     width: $size;
        //     top: calc(50% - calc(#{$size} / 2));
        //     left: calc(50% - calc(#{$size} / 2));
        //     opacity: 1;
        //     z-index: -1;
        //     background: radial-gradient(#EFE3ED, transparent);
        //     animation: shadowMove 0.8s linear infinite;
        // }

        &:active {
            box-shadow: 0px 2px 4px #EFE3ED;
        }

        // &:hover {
        //     &::after {
        //         opacity: 1;
        //     }
        // }
    }
}