@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hamburger-btn {
        display: block;
        position: relative;
        @apply h-14 w-14;
        @apply -mt-4 -mr-4;

        >.hamburger-btn__line {
            display: block;
            position: absolute;
            height: 3px;
            width: 16px;
            @apply bg-ink;
            top: calc(50% - 1px);
            left: calc(50% - calc(16px / 2));
            @apply transition;

            &:nth-of-type(1) {
                transform: translateY(-4px);
            }

            &:nth-of-type(2) {
                transform: translateY(4px);
            }
        }

        &.active {
            >.hamburger-btn__line {
                &:nth-of-type(1) {
                    transform: translateY(0px) rotate(45deg);
                }

                &:nth-of-type(2) {
                    transform: translateY(0px) rotate(-45deg);
                }
            }
        }
    }

    .mobile-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: 10;
        background: white;
        @apply p-4 pt-16;
        @apply transition;
        animation: navFadeIn 0.3s ease-in-out forwards;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background: url('/gradients/blue-pink.png');
            background-size: 400% 400%;
            opacity: 0.2;
            animation: gradientMove 5s ease infinite;
        }

        >ul {
            li {
                @apply my-3;
                opacity: 0;
                animation: navFadeIn 0.3s ease-in-out forwards;
                animation-delay: 0.2s;

                a {
                    @apply flex gap-x-1;
                    @apply text-body text-ink font-outfit;
                    @apply py-2;
                }
            }
        }

        >.social-nav {
            opacity: 0;
            animation: navFadeIn 0.3s ease-in-out forwards;
            animation-delay: 0.3s;
        }
    }

    @keyframes gradientMove {
        0% {
            background-position: 61% 0%
        }

        50% {
            background-position: 40% 80%
        }

        100% {
            background-position: 61% 0%
        }
    }

    @keyframes navFadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .project-card {
        display: block;
        position: relative;
        border: 2px solid black;
        border-radius: 8px;
        box-shadow: 0px 4px 4px #EFE3ED;
        background: white;
    }

    .project-prose {
        @apply text-ink;

        h1 {
            @apply text-h1 font-outfit mb-1
        }

        h2 {
            @apply text-h2 font-outfit mb-4
        }

        p {
            @apply text-body mb-8
        }
    }

}